@import '~theme/theme';

.header {
  background-color: $yellow-300;
  padding-top: $space-2x;
  padding-bottom: $space-2x;
  &__wrap {
   width: 100%;
   max-width: $page-width;
   margin: auto;
   padding-left: $page-margin;
   padding-right: $page-margin;

   display: flex;
   flex-direction: row;
   align-items: center;
  }

  &__logo {
    background-image: url('/assets/logo_ml.png');
    background-size: contain;
    display: block;
    height: 36px;
    overflow: hidden;
    width: 53px;
    text-indent: -999px;

    @include for-res(xhdpi-up){
      background-image: url('/assets/logo_ml@2x.png');
    } 
  }
}

.main {
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
