$yellow-300: #ffe600;

$blue-300: #3483FA;

$gray-200: #eeeeee;
$gray-300: #999999;
$gray-400: #666666;
$gray-500: #333333;

$space-1x: 4px;
$space-2x: 8px;
$space-3x: 12px;
$space-4x: 16px;
$space-5x: 18px;
$space-6x: 24px;
$space-8x: 32px;
$space-10x: 40px;
$space-11x: 46px;
$space-16x: 64px;
$space-gap: 24px;

$page-width: 1000px;
$page-margin: $space-gap;

$breakpoints: (
  'sm':  ( min-width:  767px ),
  'md': ( min-width:  992px ),
  'lg':  ( min-width: 1200px )
) !default;


$radius-xs: $space-1x;

$font-xs: $space-3x;
$font-2xs: $space-3x + 2px;
$font-normal: $space-4x;
$font-xl: $space-5x;
$font-2xl: $space-6x;
$font-3xl: $space-11x;
$font-md: $space-4x;
